<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flames</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Bebas+Neue&family=Bellefair&family=Bodoni+Moda:opsz@6..96&family=Bungee+Outline&family=Londrina+Outline&family=Love+Ya+Like+A+Sister&family=Nixie+One&family=Playfair+Display&family=Playfair+Display+SC&family=Press+Start+2P&family=Sorts+Mill+Goudy&family=Staatliches&display=swap"
        rel="stylesheet">

    <style>
        body {
            padding: 0px;
            background-image:url('../B.gif');
            
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .container {
            background-color: rgba(252, 249, 249, 0.7);
            height: auto;
            /* Allow the height to adjust based on content */
            width: 350px;
            margin-top: -90px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            padding: 20px;
            box-sizing: border-box;
        }

        .names {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 300px;
            /* Limit the width of the form content */
        }

        p {
            font-family: 'Love Ya Like A Sister', sans-serif;
            color: black;
            font-size: 80px;
        }

        form label {
            display: block;
            margin-top: 40px;
            font-family: 'Love Ya Like A Sister', sans-serif;
            /* text-align: center; */
            margin-left: 10px;
        }

        form input[type="text"] {
            width: 255px;
            padding: 18px;
            margin-top: 10px;
            border: none;
            /* Remove the border */
            outline: none;
            border-radius: 20px;
            font-family: 'Love Ya Like A Sister', sans-serif;
        }

        form input[type="submit"] {
            width: 100px;
            padding: 18px;
            margin-top: 30px;
            margin-left: 90px;
            border: none;
            align-self: center;
            outline: none;
            border-radius: 20px;
            background-color: crimson;
            font-family: 'Love Ya Like A Sister', sans-serif;
        }
        form input[type="submit"]:hover{
            width: 100px;
            padding: 18px;
            margin-top: 30px;
            margin-left: 90px;
            border: none;
            align-self: center;
            outline: none;
            border-radius: 20px;
            background-color: rgb(220, 117, 20);
            font-family: 'Love Ya Like A Sister', sans-serif;
        }
    </style>
</head>

<body>
    <p>FLAMES</p>
    <div class="container">

        <div class="names">
            <form action="/submit" method="post">
                <label for="name1">Name of the Person:</label>
                <input type="text" name="name1" id="name1" placeholder="Enter the Name">
                <label for="name2">Name of the Person's crush:</label>
                <input type="text" name="name2" id="name2" placeholder="Enter the Name">
                <input type="submit" name="submit" id="submit" value="Submit">
            </form>
            
        </div>
    </div>

</body>

</html>